/* Browser validation */
#formBrowser .feedback {
	display:none;
	color: red;
	font-size: .7em;
}

#formBrowser input:invalid{
	border: 3px solid red;
}

#formBrowser input:valid{
	border: 3px solid green;
}

#formBrowser input:invalid ~ .feedback{
	display: block;
}